@import "../../../responsive";

.header {
  width: 100%;
  padding: 2em 6em;
  align-items: center;

  @include phone {
    padding: 0.5em 2em;
    margin: 0;
  }

  .logo {
    @include phone {
      text-align: center;
    }
    .title {
      margin: 0;
      a {
        text-decoration: none;
      }
    }

    .subtitle {
      margin-top: 0;
      font-size: 1em;
      color: #707180;
      font-weight: 400;
    }
  }

  .navbar {
    text-align: center;
    padding: 0.5em 0;
    width: 40%;

    .nav-item {
      display: block;
      font-size: 15px;

      a {
        font-family: 'Muli', sans-serif;
        font-weight: 800;
        text-decoration: none;
        transition: ease .2s;

        &:hover {
          color: #3f3f3f;
          transition: ease .2s;

          &:after {
            width: 100%;
          }

        }

        &:after {
          content: '';
          display: block;
          position: relative;
          width: 0;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid #222222;
          transition: .5s ease;
        }

      }
    }
  }
}
