[smtp]
enabled = {{ grafana.smtp.enabled }}
host = {{ grafana.smtp.host }}
user = {{ grafana.smtp.username }}
password = {{ grafana.smtp.password }}
cert_file =
key_file =
skip_verify = false
from_address = {{ grafana.smtp.from_address }}
from_name = {{ grafana.smtp.from_name }}
ehlo_identity =
[server]
domain = {{ host_name }}