version: '3.7'
services:
  apm-server:
    image: docker.elastic.co/apm/apm-server:7.5.2
    networks:
      - backend-network
    volumes:
      - ./config/apm-server.yml:/usr/share/apm-server/apm-server.yml:ro
networks:
  backend-network:
    external:
      name: backend-network
