version: '3.7'
services:
  grafana:
    image: grafana/grafana:6.5.3
    networks:
      - web
    environment:
      - VIRTUAL_HOST={{ host_name }}
      - LETSENCRYPT_HOST={{ host_name }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana.grafana_admin_password }}
      - GF_SERVER_ROOT_URL={{ grafana.root_url }}
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./config/grafana/grafana.ini:/etc/grafana/grafana.ini
volumes:
  grafana-storage:
networks:
  web:
    external:
      name: web-network
