version: '3.7'
services:
  nginx-proxy:
    container_name: nginx-proxy
    image: jwilder/nginx-proxy:alpine
    restart: always
    ports:
      - 443:443
      - 80:80
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./config/nginx/vhost:/etc/nginx/vhost.d
      - ./config/nginx/html:/usr/share/nginx/html
      - ./config/nginx/certs:/etc/nginx/certs:ro
      - ./config/nginx/certs:/etc/nginx/dhparam
      - ./config/nginx/nginx.tmpl:/app/nginx.tmpl
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
    environment:
      - DEFAULT_HOST={{ host_name }}
    networks:
      - web
  backend:
    image: {{ backend_image }}
    networks:
      - web
    depends_on:
      - db
    environment:
      - VIRTUAL_HOST=backend.{{ host_name }}
      - LETSENCRYPT_HOST=backend.{{ host_name }}
      - SECRET_KEY_BASE={{ backend.secret_key_base }}
  frontend:
    image: {{ frontend_image }}
    networks:
      - web
    environment:
      - VIRTUAL_HOST={{ host_name }}
      - LETSENCRYPT_HOST={{ host_name }}
  db:
    image: postgres:12
    volumes:
      - postgres-storage:/var/lib/postgresql/data
      - ./config/db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: blog
      POSTGRES_PASSWORD: blog
      POSTGRES_USER: blog
    networks:
      - web
  letsencrypt:
    container_name: nginx-proxy-lets-encrypt
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    depends_on:
      - nginx-proxy
    volumes:
      - ./config/nginx/vhost:/etc/nginx/vhost.d
      - ./config/nginx/html:/usr/share/nginx/html
      - ./config/nginx/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web
  prometheus:
    image: prom/prometheus
    environment:
      - VIRTUAL_HOST=prom.{{ host_name }}
      - LETSENCRYPT_HOST=prom.{{ host_name }}
    volumes:
      - prometheus-storage:/prometheus
      - ./config/prometheus:/etc/prometheus
    networks:
      - web
networks:
  web:
    driver: bridge

volumes:
  prometheus-storage:
  postgres-storage:
