version: '3.7'
services:
  nginx-proxy:
    container_name: nginx-proxy
    image: jwilder/nginx-proxy:alpine
    restart: always
    ports:
      - 443:443
      - 80:80
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./config/nginx/vhost:/etc/nginx/vhost.d
      - ./config/nginx/html:/usr/share/nginx/html
      - ./config/nginx/certs:/etc/nginx/certs:ro
      - ./config/nginx/certs:/etc/nginx/dhparam
      - ./config/nginx/nginx.tmpl:/app/nginx.tmpl
      - ./config/nginx/htpasswd:/etc/nginx/htpasswd/prom.{{ host_name }}
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
    environment:
      - DEFAULT_HOST={{ host_name }}
    networks:
      - web
  backend:
    image: {{ backend_image }}
    networks:
      - web
    depends_on:
      - db
    environment:
      - VIRTUAL_HOST=backend.{{ host_name }}
      - LETSENCRYPT_HOST=backend.{{ host_name }}
      - SECRET_KEY_BASE={{ backend.secret_key_base }}
  frontend:
    image: {{ frontend_image }}
    networks:
      - web
    environment:
      - VIRTUAL_HOST={{ host_name }}
      - LETSENCRYPT_HOST={{ host_name }}
  db:
    image: postgres:12
    volumes:
      - postgres-storage:/var/lib/postgresql/data
      - ./config/db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: blog
      POSTGRES_PASSWORD: blog
      POSTGRES_USER: blog
    networks:
      - web
  letsencrypt:
    container_name: nginx-proxy-lets-encrypt
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    depends_on:
      - nginx-proxy
    volumes:
      - ./config/nginx/vhost:/etc/nginx/vhost.d
      - ./config/nginx/html:/usr/share/nginx/html
      - ./config/nginx/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web
  prometheus:
    image: prom/prometheus
    environment:
      - VIRTUAL_HOST=prom.{{ host_name }}
      - LETSENCRYPT_HOST=prom.{{ host_name }}
    volumes:
      - prometheus-storage:/prometheus
      - ./config/prometheus:/etc/prometheus
    networks:
      - web
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
    volumes:
      - elasticsearch-storage:/usr/share/elasticsearch/data
      - ./config/elasticsearch/jvm.options:/usr/share/elasticsearch/config/jvm.options
      - ./config/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    networks:
      - elastic
      - web
    environment:
      - VIRTUAL_HOST=elastic.{{ host_name }}
      - LETSENCRYPT_HOST=elastic.{{ host_name }}
      - VIRTUAL_PORT=9200
  apm-server:
    image: docker.elastic.co/apm/apm-server:7.5.2
    depends_on:
      - elasticsearch
    networks:
      - elastic
      - web
    volumes:
      - ./config/apm/apm-server.yml:/usr/share/apm-server/apm-server.yml:ro
  kibana:
    depends_on:
      - elasticsearch
    image: docker.elastic.co/kibana/kibana:7.5.2
    environment:
      - VIRTUAL_HOST=kibana.{{ host_name }}
      - LETSENCRYPT_HOST=kibana.{{ host_name }}
    networks:
      - web
      - elastic
    volumes:
      - ./config/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
  filebeat:
    image: docker.elastic.co/beats/filebeat:7.5.2
    user: '0'
    depends_on:
      - elasticsearch
    volumes:
      - ./config/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/log:/var/log
    networks:
      - elastic
  logstash:
    image: docker.elastic.co/logstash/logstash:7.5.2
    volumes:
      - ./config/logstash/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./config/logstash/pipeline/:/usr/share/logstash/pipeline/
    expose:
      - 5044
    networks:
      - elastic
networks:
  web:
    driver: bridge

volumes:
  prometheus-storage:
  postgres-storage:
