version: '3.7'
services:
  backend:
    image: {{ backend_image }}
    volumes:
      - ./config/application.yml:/usr/src/app/config/application.yml
      - ./config/database.yml:/usr/src/app/config/database.yml
    networks:
      - web
      - backend-network
    environment:
      - VIRTUAL_HOST=backend.{{ host_name }}
      - LETSENCRYPT_HOST=backend.{{ host_name }}
      - SECRET_KEY_BASE={{ backend.secret_key_base }}
  backend-config:
    image: {{ backend_config_image }}
    volumes:
      - ./config:/usr/config
  db:
    image: postgres:12
    volumes:
      - postgres-storage:/var/lib/postgresql/data
      - ./config/db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: blog
      POSTGRES_PASSWORD: blog
      POSTGRES_USER: blog
    networks:
      - backend-network
    deploy:
      placement:
        constraints:
          - node.role == manager
networks:
  web:
    external:
      name: web-network
  backend-network:
    external:
      name: backend-network

volumes:
  postgres-storage:
